* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --yellow: #f4d04e;
  --Gray-950: #111111;
  --Gray-500: #6b6b6b;
  --white: #ffffff;
  /* font */
  --figtree: 'Figtree', sans-serif;
}

body {
  margin: 0;
  background-color: var(--yellow);
  font-family: var(--figtree);
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  line-height: 150%;
}

img {
  display: flex;
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: 800;
}

a {
  color: inherit;
}

.card {
  overflow-x: hidden;
  background-color: var(--white);
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5em;
  border-radius: 1.25rem;
  border: 1px solid var(--Gray-950);
  box-shadow: 8px 8px 0px var(--Gray-950);
}

.header-img {
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
}

.yellow-fill,
.published-date,
h1 {
  margin-bottom: 0.75rem;
}

.yellow-fill {
  background-color: var(--yellow);
  padding: 0.25rem 0.75rem;
  width: fit-content;
  border-radius: 0.25rem;
  font-weight: 800;
  font-size: clamp(0.75rem, 3vw, 0.875rem);
}

.published-date {
  font-size: clamp(0.75rem, 3vw, 0.875rem);
  font-weight: 500;
  color: var(--Gray-950);
}

.heading-link-color {
  text-decoration: none;
}

.heading-link-color:hover {
  color: var(--yellow);
}

.main-text {
  color: var(--Gray-500);
  font-size: clamp(0.875rem, 3.5vw, 1rem);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.avatar-user-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.useer-image {
  max-width: 32px;
}

.user-name {
  font-weight: 800;
  font-size: 0.875rem;
}
